<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>mi primer html</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>

  <!-- Logo y barra de búsqueda -->

  <header> 
    <div> 
      <img src="/images/logo-mercado-liebre.svg" class="logo"/>
      <class="topnav">
      <input type="text" placeholder="Buscar productos, marcas"><br><i class="fas fa-search"></i></class>
    </div><br>

    <div><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</div>

   <!-- Lista de opciones -->

    <nav>
      <ul>
       <a href=#></a> <li> Ofertas </li></a> 
       <a href="#"></a> <li>Tiendas Oficiales </li></a> 
        <a href="#"></a><li>Vender </li></a> 
        <a href="#"></a><li> Ayuda </li></a> 
      </ul>
      <ul>
        <a href="/register.html"><li> Creá tu cuenta<i class="fas fa-user"></i> </li></a> 
        <a href="/login.html"><li>Ingresá <i class="fas fa-sign-in-alt"></i> </li></a> 
        <a href="#"></a><li>Mis Compras<i class="fas fa-shopping-cart"></i> </li></a> 

      </ul>
    </nav>
      <div class="burguer-menu">
        <i class="fas fa-bars"></i>
      </div>
      <br>
    
  </header>

  <!-- Productos -->

  <main>
     <h2 class="titulares">Basado en tu última visita </h2>
    <article id="a">
    
      <img src="/images/img-cafetera-moulinex.jpg" alt="imagen de Cafetera Moulinex" width=90% height=90% />
      <div class="conteiner-info-producto">
        <i class="fas fa-shipping-fast"></i>
        <p class="precios" class="descripciones-producto"> $6.770.</p>
        <p class="descuentos" class="descripciones-producto">40% off </p> <br>
        <br>
        <p>
        <h2 class="titulares">Cafetera Moulinex </h2>
        </p>
    </article>


    </div>
    <article id="a">
      <img src="/images/img-macbook-pro-2019.jpg" alt="imagen de MacbookPro" width=90% height=90% />
      <div class="conteiner-info-producto">
        <i class="fas fa-shipping-fast"></i>
        <p class="precios" class="descripciones-producto">$230.000</p>
        <p class="descuentos" class="descripciones-producto"> 20% off</p><br>
        <br>
        <p>
        <h2 class="titulares">MacBook Pro 2019 </h2>
        </p>
    </article>
    </div>
    <article id="a">
      <img src="/images/img-samsung-galaxy-s10.jpg" alt="imagen de Samsung Galaxy s10" width=90% height=90% />
      <div class="conteiner-info-producto">
        <i class="fas fa-shipping-fast"></i>
        <p class="precios" class="descripciones-producto">$70.500</p>
        <p class="descuentos" class="descripciones-producto">10% off </p><br>
        <br>
        <p>
        <h2 class="titulares">Samsung Galaxy S10 </h2>
        </p>

    </article>
    </div>
    <article id="a">
      <img src="/images/img-tv-samsung-smart.jpg" alt="imagen de SmartTv Samsung 43" width=90% height=90% />
      <div class="conteiner-info-producto">
        <i class="fas fa-shipping-fast"></i>
        <p class="precios" class="descripciones-producto">$23.200 </p>
        <p class="descuentos" class="descripciones-producto"> 5% off</p><br>
        <br>
        <p>
        <h2 class="titulares">SmartTv Samsung 43"</h2>
        </p>
    </article>

    </p>
    
  </main>
  
  <!-- Footer de la página -->
  
  <footer class="caja-footer">

    <div>
      <p class="titulos-finales">
      <i class="fas fa-credit-card"></i><h4>Pagá con tarjeta o en efectivo</h4></p>

      <p class="descripciones"><small>Con MercadoLiebreCash, tenés cuotas sin interés con tarjeta o efectivo en puntos
          de pago.¡Y siempre es seguro!</small> </p>

      <p class="titulos-finales">
     <i class="fas fa-gift"></i><h4>Envío gratis desde $2.500</h4>
      </p>
      <p class="descripciones"><small>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.</small></p>

      <p class="titulos-finales">
      <i class="fas fa-user-shield"></i><h4>Seguridad de principio a fin</h4>
      </p>
      <p class="descripciones"><small>¿No te gusta? ¡Devolvelo' En MercadoLiebre no hay nada que no puedas hacer porque
          estás siempre protegid@.</small></p>
      <p class="descripciones"><small>Copyright © 1999-2020 MercadoLiebre S.R.L </small></p>



    </div>
  </footer>
</body>

</html>